# All the settings are now read from env variables.
# Before running the project you need to seet them all in your environment.
# On Linux: change the values accordin to your own settings and put these lines in .bashrc or
#			in the activate script of virtualenv.
# On Heroku: heroku config:add DRFTEST_ADMIN_NAME="Your Name"

export DRFTEST_ADMIN_NAME="Your Name"
export DRFTEST_ADMIN_EMAIL="youremail@provider.com"
export DRFTEST_DB_ENGINE="django.db.backends.postgresql_psycopg2"
export DRFTEST_DB_NAME="workshopvenues"
export DRFTEST_DB_USER="username"
export DRFTEST_DB_PASSWORD="password"
export DRFTEST_DB_HOST="localhost"
export DRFTEST_DB_PORT=5432
export DRFTEST_STATIC_ROOT="" 
export DRFTEST_STATIC_URL="/static/" 
export DRFTEST_STATICFILES_ASSETS="static" 
export DRFTEST_SECRET_KEY="$$changethisdamnnotsecretkey"
export DRFTEST_DEBUG="True"
export DRFTEST_ALLOWED_HOSTS="*"
